<!DOCTYPE html>
<html lang="en">
  <head>
    <title>List of Shows</title>
  </head>

  <body>
    <h2>Favorite Shows!</h2>
    <h3>List of Shows</h3>

    <ul>
      <% @shows.each do |show| %>
        <li><%= "#{show.title} (#{show.network})" %></li>
      <% end %>
    </ul>

  </body>
</html>
