<!DOCTYPE html>
<html lang="en">
  <head>
    <title>List of Shows</title>
  </head>

  <body>
    <h1>Add Show Details</h1>

    <p>Instructions: Enter a TV show title, the network name, year the show was
      first broadcast, a brief synopsis, and select a genre.</p>

    <h2><%= @error_message %></h2>
    <h2><%= @missing_entry %></h2>

    <form action="/television_shows/new" method="post">
      <label for="title">Title</label>
      <input type="text" name="title" id="title">
      <label for="network">Network</label>
      <input type="text" name="network" id="network">
      <label for="starting_year">Starting Year</label>
      <input type="text" name="starting_year" id="starting_year">
      <label for="synopsis">Synopsis</label>
      <input type="text" name="synopsis" id="synopsis">
      <label for="genre">Genre</label>
        <select name="genre" id="genre">
          <option value="" disabled="disabled" selected="selected">Please select a genre</option>
          <% @genres.each do |genre| %>
            <option value="<%= genre %>"><%= genre %></option>
          <% end %>
        </select>
      <input type="submit" value="Add TV Show">
    </form>
  </body>
</html>
